

.tools-header {
 color: blue;
 font-weight: lighter;
 text-align: center;
 margin-top: 50px;

}
.title-and-toggles {
text-align: center;
}
.more-links {
  margin-top: 60px;
  margin-left: 70px;
  font-size: 36px;
  color: blue;
  width: 300px;
  font-weight: lighter;
}

.toggle-options {
  text-align: center;
  flex-direction: row;
  display: flex;
  justify-content: center;

}
.link-description {
  margin-left: 70px;
  margin-top: 30px;
  color: grey;

}
.program-image {
  align-self: center;
  margin-top: 80px;


}
.links-and-image {
  display: flex;
  flex-direction: row;
  border-width: medium;
}
.links {
  width: 600px;
}

.link {
  width: 150px;
  height: 50px;
  background-color: pink;
  justify-content: center;
  align-items: center;
  display: flex;
  border-width: thin;
  border-style: solid;
  border-color: lightgray;
}
.button {
  height: 50px;
  width: 150px;
}
